extends base
include ./mixins/avatar

block content
    div#videoContainer(data-id=video._id)
        if isHeroku
            video(src=video.fileUrl data-video-id=video._id crossorigin).video
        else 
            video(src="/" + video.fileUrl data-video-id=video._id).video
        div#videoControls.videoControls
            div.videoControls__range
                div.videoControls__progressBar
                    input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
                div.videoControls__volume 
                    span#mute
                        i.fas.fa-volume-up
                    input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                    span#fullScreen
                        i.fas.fa-expand
            div.videoControls__buttons
                div.videoControls__play
                    span#play.videoControls__playBtn
                        i.fas.fa-play
                
                    
                div.videoControls__time
                    span#currenTime 00:00
                    span  / 
                    span#totalTime 00:00
                
    div#videoMetadata
        div
            p.title=video.title
            div #{video.createdAt}
                br
                span Uploaded by 
                    a(href=`/users/${video.owner._id}`)=video.owner.name
                br
                span 조회수 #{video.meta.views} 회
                br
                span#hashtags #{video.hashtags}
        if String(video.owner._id) === String(loggedInUser._id)
            div
                a(href=`${video.id}/edit`) Edit Video &rarr;
                br
                a(href=`${video.id}/delete`) Delete Video &rarr;
    if loggedIn
        div.video__add-comments
            form.video__comment-form#commentForm
                textarea(cols="30", rows="10", placeholder="공개 댓글 추가")
                button 댓글
    div.video__comments
        ul 
            each comment in video.comments.reverse()
                li.video__comment(data-comment-id=comment._id)
                    +mixinAvatar(comment.owner.avatarUrl)
                    span.owner__name #{comment.owner.username}
                    span  #{comment.text}
                    
                    i.fas.fa-trash-alt.commentDelete
block scripts
    script(src="/static/js/videoPlayer.js")
    script(src="/static/js/commentSection.js")